# General
.DS_Store

# Node.js dependencies
/backend/node_modules/
/frontend/node_modules/
node_modules/
# Expo-related directories
/frontend/.expo/
/frontend/web-build/
/frontend/dist/

# Native Builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro bundler specifics
/frontend/.metro/
/frontend/.metro-health-check*

# Environment files
/backend/.env
/backend/.env*.local
/frontend/.env
/frontend/.env*.local

# TypeScript build artifacts
/frontend/*.tsbuildinfo
/backend/*.tsbuildinfo
